.container{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.create{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

.card{
    width: 30%;
    background-color: blue;
    margin: 1%;
}

form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button{
    margin: 1%;
}
